@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  --color-primary: hsl(233, 47%, 7%);
  --color-secondary: hsl(244, 38%, 16%);
  --color-accent: hsl(277, 64%, 61%);
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-075: hsla(0, 0%, 100%, 0.75);
  --color-neutral-060: hsla(0, 0%, 100%, 0.6);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-size: 15px;
  line-height: 1.6;
  background-color: var(--color-primary);
  align-items: center;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 1100px;
  border-radius: 0.5rem;
  background-color: var(--color-secondary);
  overflow: hidden;
}

.card h1 {
  line-height: 1.2;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: var(--color-neutral-100);
  margin-bottom: 30px;
}

.card h3 {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  color: var(--color-neutral-100);
}

.card p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: var(--color-neutral-060);
}

.card span {
  color: var(--color-accent);
}

.card-text {
  margin: 4rem;
}

.card-stats {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card-img {
    position: relative;
  }

.card-img img {
  display: block;
}

.img-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: hsla(277, 64%, 30%, 0.6);
}
